.process-order-container {
	display: flex;
	justify-content: center;
}

.process-order-submit-button {
	position: sticky;
	top: 0;
	transform: none;
	z-index: 0;
	margin: 0 auto;
	width: 30%;
}

#process-order-form {
	display: flex;
	flex-direction: column;
}