@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
}

img {
	object-fit: cover;
}

header {
	grid-column: 3;
	display: flex;
	align-items: center;
}

main {
	grid-column: 3;
	grid-row: 2/4;
	max-height: calc(100vh - 60px - 20px);
	overflow-y: auto;
}

main::-webkit-scrollbar {
	display: none;
}


footer {
	grid-column: 1/-1;
	background-color: #ee753b;
	text-align: center;
	height: 25px;
}

.pre-price {

}

#search-button {
	position: absolute;
	border-radius: 0 7px 7px 0;
	margin-left: 80%;
}

.container {
	margin: 0 auto;
	height: 100vh;
	display: grid;
	grid-template-rows: 10% 1fr 1%;
	grid-template-columns: 7% 20% 1fr 7%;
	overflow-y: auto;
}

#search-form {
	display: flex;
	width: 80%;
	align-items: center;
	padding-left: 30px;
}

.search-icon-and-input {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 8px;
}

.search-icon {
	height: 60%;
}

#search-input {
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	text-indent: 10px;
	border: #dcdcdc solid 1px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	outline: none;
}

.searchbar {
	display: flex;
	align-items: center;
	position: fixed;
	height: 10%;
	width: 60%;
	gap: 135px;
	z-index: 2;
	background-color: #fff;
}

.btn {
	background-color: #ee753b;
	width: 60px;
	height: 40px;
	color: white;
	border-radius: 7px;
	border: none;
	cursor: pointer;
}


.check-order-button {
	width: 130px;
	margin-left: 100%;
	margin-right: 40px;
}

.check-order-link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
	margin-left: auto;
	text-wrap: nowrap;
	text-decoration: none;
	background-color: #ee753b;
	height: 40px;
	font: inherit;
	font-weight: 400;
	font-size: 13px;
	color: white;
	border-radius: 7px;
	border: none;
	cursor: pointer;
	z-index: 2;
}


.sidebar {
	grid-row: 2/-1;
	grid-column: 2;
	display: flex;
	flex-direction: column;
	align-items: start;
	position: sticky;
	height: 100%;
	z-index: 1;
	top: 0;
}


#logo {
	display: flex;
	align-items: center;
	grid-column: 2;
	grid-row: 1;
	margin-top: 10px;
}

.logo-link {
	margin-left: auto;
}

#logo img {
	width: 80%;
}


.tags-container {
	overflow-y: auto;
	width: 85%;
	margin-top: 60px;
	overflow-x: hidden;
	/*margin-bottom: 60px;*/
}

.tags-container::-webkit-scrollbar {
	display: none;
}


.tags-title {
	text-transform: uppercase;
	padding: 20px 20px 20px 50px;
	color: white;
	background-color: #f45507;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}


.tags {
	list-style-type: none;
	border: 2px solid #dcdcdc;
	border-top: none;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding-bottom: 25px;
}

.child-tags {
	padding-left: 30px;
	padding-right: 10px;
	font-weight: 300;
}

.tag-item {
	padding: 9px 100px 9px 50px;
}

.tag-link {
	text-decoration: none;
	color: #000;
}

.tag-link:active,
.tag-link:hover,
.tag-link:visited {
	color: #000;
}

/* для dual range филтрации */
.range_button {
	position: sticky;
	transform: none;
}

/*-----------------------*/


/* стили для login page*/

/* Center the login container */
.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Full viewport height */
	width: 100%; /* Full viewport width */
}

/* Style the login form */
.login-form {
	display: flex;
	flex-direction: column;
	gap: 1em; /* Space between form elements */
	max-width: 300px; /* Maximum width of the form */
	padding: 1em; /* Padding around the form */
	border: 1px solid #ccc; /* Optional border */
	background-color: #fff; /* Background color */
}

/* Position labels above inputs */
.input-label {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Align items to the start of the label */
	margin-bottom: 0.5em; /* Space below the label */
}

/* Style the paragraph text inside labels */
.input-label p {
	margin: 0; /* Remove default margins */
	font-weight: bold; /* Bold text for labels */
}

/* Style the remember container */
.remember-container {
	display: flex;
	align-items: center; /* Vertically center the checkbox and text */
	gap: 0.5em; /* Space between checkbox and text */
}

/* Style the checkbox label */
.checkbox-label {
	cursor: pointer;
	font-size: 0.9em; /* Smaller font size for the label */
}

/* Style the submit button */
.login-form button[type="submit"] {
	background-color: #007bff; /* Blue background */
	color: white; /* White text */
	border: none; /* No border */
	padding: 0.5em 1em; /* Padding around the text */
	cursor: pointer; /* Pointer cursor on hover */
	transition: background-color 0.3s ease; /* Transition effect */
	position: sticky;
}

/* Change button background color on hover */
.login-form button[type="submit"]:hover {
	background-color: #0056b3; /* Darker blue on hover */
}


/*---------------------------------------------------*/

/*на рефактор*/

.notification-card {
	background-color: white;
	width: 400px;
	height: 200px;
	display: flex;
	flex-direction: column;
	padding: 12px 12px 0 12px;
}

.notification-card-button {
	display: block;
	text-align: center;
	margin-top: auto;
	padding-bottom: 8px;
}

.process-order-container {
	display: flex;
	justify-content: center;
}

.process-order-submit-button {
	position: sticky;
	top: 0;
	transform: none;
	z-index: 0;
	margin: 0 auto;
	width: 30%;
}

#process-order-form {
	display: flex;
	flex-direction: column;
}

/*.check-order-form {*/
/*	display: grid;*/
/*	grid-template-columns: 1fr 1fr;*/
/*	grid-template-areas:*/
/*        "user-info-container order-info-container"*/
/*        "user-info-container order-info-container";*/
/*}*/

.order-title {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 30px;
}

.check-order-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.check-order-label {
	font-size: 18px;
}

.check-order-input-container {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.check-order-input {
	flex: 1;
	border-radius: 7px 0 0 7px;
}

.check-order-input::-webkit-outer-spin-button,
.check-order-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.check-order-submit {
	flex-shrink: 0;
	margin-left: auto;
	color: white;
	background-color: rgba(56, 56, 56, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	width: 130px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0 7px 7px 0;

	position: sticky;
	top: 0;
	transform: none;
	z-index: 0;
}

.order-info-table {
	width: 100%;
}

.order-status {
	font-weight: bolder;
	text-transform: uppercase;
}

.order-info-tr {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.order-info-td {
	display: flex;
	justify-content: center;
	align-items: center;
}

.order-id {
	width: 10%;
}

/*.order-info-td {*/
/*	display: flex;*/
/*	flex-direction: row;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*}*/

.order-item-title {
	margin-left: 20px;
}

.order-item-info {
	display: flex;
	align-items: center;
}

.order-td {
	padding: 20px;
	width: 50%;
}

.order-table {
	border: none;
}

.order-th {
	font-weight: normal;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	color: #252525;
}

.order-image {
	height: 100px;
	margin: 0 auto;
	aspect-ratio: auto;
}

.gray-cell {
	background-color: #e8e8e8;
}

/**/
.tags {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #f9f9f9;
	border-right: 1px solid #ddd;
}

.tag-item {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	position: relative; /* Added to position the dropdown content relative to the tag item */
}

.dropdown-toggle {
	text-decoration: none;
	color: #333;
	cursor: pointer;
	font-size: 20px;
	display: flex;
	gap: 15px;
	justify-content: space-between;
}

.dropdown-content {
	display: none;
	background-color: #f9f9f9;
	min-width: 160px;
	padding: 12px 16px;
	flex-direction: column;
}

.range_input {
	width: 40%;
	margin-right: 5px;
}

#collect-data-btn {
	display: block;
	width: 100%; /* Ensures the button fits within the container */
	padding: 10px;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 10px;
	text-align: center;
	border-radius: 7px;
}

.dropdown-toggle:hover {
	color: #007bff;
}

.attributes {
	flex-direction: row;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.Chevron {
	position: relative;
	display: block;
	height: 25px; /*height should be double border*/
	margin-right: 25px;
}

.Chevron:before,
.Chevron:after {
	position: absolute;
	display: block;
	content: "";
	border: 15px solid transparent; /*adjust size*/
}

/*Change four 'top' values below to rotate (top/right/bottom/left)*/

.chevron-down:before {
	bottom: 10px;
	border-bottom-color: #666; /*Chevron Color*/
}


.chevron-down:after {
	bottom: 5px; /*adjust thickness*/
	border-bottom-color: #f9f9f9; /*Match background colour*/
}

.chevron-up:before {
	top: 10px;
	border-top-color: #666; /*Chevron Color*/
}

.chevron-up:after {
	top: 5px; /*adjust thickness*/
	border-top-color: #f9f9f9; /*Match background colour*/
}

#phone-check-order-link {
	display: none;
}

#phone-home-link {
	display: none;
}

.menu-button-container {
	grid-row: 1;
	grid-column: 1;
}

.burger-button {
	display: none;
	position: relative;
	width: 30px;
	height: 18px;
	border: none;
	align-items: center;
	justify-content: center;
	padding: 0;
	background-color: white;
}

.burger-button span {
	height: 2px;
	width: 100%;
	transform: scale(1);
	background-color: black;
}

.burger-button::before, .burger-button::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: black;
	transition: all 0.3s ease 0s;
}

.burger-button::before {
	top: 0;
}

.burger-button::after {
	bottom: 0;
}

.burger-button.active {
	background-color: transparent;
}

.burger-button.active span {
	transform: scale(0);
}

.burger-button.active::before {
	top: 50%;
	transform: rotate(-45deg) translate(0, -50%);
}

.burger-button.active::after {
	bottom: 50%;
	transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 1200px) {
	.searchbar {
		width: 50%;
	}
}

@media (max-width: 900px) {
	.open {
		display: flex !important;
	}

	.burger-button {
		display: flex;
	}

	.container {
		grid-template-columns: 20% 1fr;
	}

	#search-form {
		padding-left: 0;
	}

	.searchbar {
		width: 70%;
	}


	.check-order-link {
		display: none;
	}

	.sidebar {
		display: none;
		width: 100%;
		height: 100%;
		position: fixed;
		padding: 50px 0;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 3;
		animation: burgerAnimation 0.4s;
	}

	#logo {
		display: none;
	}

	header {
		grid-column: 2;
	}

	main {
		grid-column: 1 / -1;
		grid-row: 2;
	}

	footer {
		grid-row: -1 / -1;
	}

	.menu-button-container {
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 4;
	}

	.menu-icon {
		width: 40px;
	}

	.tags-title {
		padding: 10px 0;
		text-align: center;
		text-transform: none;
	}

	#phone-check-order-link, #phone-home-link {
		display: block;
		width: 100%;
		padding: 10px 0;
		background-color: #f45507;
		color: white;
		border: none;
		cursor: pointer;
		margin-bottom: 10px;
		text-align: center;
		border-radius: 7px;
		font-size: 16px;
		text-decoration: none;
	}
}

@keyframes burgerAnimation {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}