@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");


* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}


.container {
	margin: 0 auto;
	height: 100vh;
	display: grid;
	grid-template-rows: 10% 1fr 1%;
	grid-template-columns: 10% 20% 1fr 10%;
	overflow-y: auto;
}

.search-form {
	display: flex;
	width: 100%;
	padding-left: 30px;
	align-items: center;
}

.search-icon-and-input {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 8px;
}

.search-icon {
	height: 60%;
}

.search-input {
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	text-indent: 10px;
	border: #dcdcdc solid 1px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	outline: none;
}


.btn {
	background-color: #ee753b;
	width: 60px;
	height: 40px;
	color: white;
	border-radius: 7px;
	border: none;
	cursor: pointer;
}


.check-order-button {
	width: 130px;
	margin-left: auto;
	margin-right: 40px;
}


.sidebar {
	grid-row: 2/-1;
	grid-column: 2;
	display: flex;
	flex-direction: column;
	align-items: start;
	position: sticky;
	height: 100%;
	z-index: 1;
	top: 0;
}


#logo {
	display: flex;
	align-items: center;
	grid-column: 2;
	grid-row: 1;
}

.logo-link {
	margin-left: auto;
}

#logo img {
	width: 80%;
}


.tags {
	list-style-type: none;
	border: 2px solid #dcdcdc;
	border-top: none;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}


main {
	padding: 60px;
	grid-column: 3;
	grid-row: 2/4;
	max-height: calc(100vh - 60px - 20px);
	overflow-y: auto;
}

main::-webkit-scrollbar {
	display: none;
}


footer {
	grid-column: 1/-1;
	background-color: pink;
	text-align: center;
	height: 25px;
}


.catalog {
	margin-top: 60px;
	display: flex;
	padding: 0 0 40px;
	flex-wrap: wrap;
	gap: 30px;
	height: calc(100% - 60px - 20px);
	overflow: auto;
}

.catalog::-webkit-scrollbar {
	display: none;
}

.car-card {
	width: 30%;
	min-width: 250px;
	height: 500px;
	background-color: white;
	margin-bottom: 20px;
	border: 1px solid #dcdcdc;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
}


.car-image {
	width: 100%;
	margin-bottom: 10px;
}


.car-name {
	font-size: 20px;
	color: #2d2d2d;
	margin-bottom: 8px;
}


.car-year {
	color: #707070;
	margin-bottom: 10px;
}


.car-details {
	list-style-type: none;
}


.car-spec {
	display: flex;
	gap: 12px;
}


.car-spec p {
	font-size: 16px;
	line-height: 16px;
	color: #252525;
}


.price {
	font-size: 28px;
	margin-top: auto;
	padding-bottom: 14px;
}


.detail-item {
	margin-bottom: 12px;
}


.description {
	padding: 0 10px 10px 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
}


.car-info {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 300px;
	background-color: #fff;
	padding: 40px 20px 0 20px;
}

.tags-container {
	overflow-y: auto;
	width: 80%;
	margin-top: 60px;
}
.tags-container::-webkit-scrollbar {
	display: none;
}

.tags-title {
	text-transform: uppercase;
	padding: 20px 20px 20px 50px;
	color: white;
	background-color: #f45507;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.tag-item {
	padding: 15px 100px 15px 50px;
}

.tag-link {
	text-decoration: none;
	color: #000;
}

.tag-link:active,
.tag-link:hover,
.tag-link:visited {
	color: #000;
}


.car-image-gallery {
	aspect-ratio: auto;
	margin: 0 auto;
}


.car-additional-images {
	display: flex;
	gap: 20px;
}


.car-image-preview {
	height: 10%;
	width: 10%;
}


.car-main-image-container {
	display: block;
	margin: 0 auto;
}


.car-main-image {
	width: 100%;
	margin-bottom: 10px;
	aspect-ratio: auto;
}


.car-specs {
	background-color: #f8f8f8;
	padding: 15px;
}


.car-description {
	grid-column: 1/-1;
}


.year-title-details {
	text-align: right;
}

.search-button {
	height: 40px;
	border-radius: 0 7px 7px 0;
}

.buy-link {
	background-color: lightblue;
	display: block;
	border: none;
	width: 100%;
	height: 30px;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	cursor: pointer;
}


/* Order Page */
.order-title {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 30px;
}

.order-form-title, .order-info-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 30px;
}

.order-image {
	height: 100px;
	margin: 0 auto;
	aspect-ratio: auto;
}

.order-table {
	border: none;
}

.order-th {
	font-weight: normal;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
	color: #252525;
}

.gray-cell {
	background-color: #e8e8e8;
}

.order-car-title {
	margin-left: 20px;
}

.order-car-info {
	display: flex;
	align-items: center;
}

.order-td {
	padding: 20px;
	width: 50%;
}

.order-submit {
	margin-left: auto;
	color: white;
	background-color: rgba(56, 56, 56, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	width: 130px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.order-container {
	padding: 40px 20px;
	background-color: #fff;
}

.user-info {
	font-size: 18px;
	line-height: 24px;
	color: #252525;
}

.order-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
"user-info-container order-info-container"
"user-info-container order-info-container";
}

.user-info {
	list-style-type: none;
}

.user-info-item {
	margin-bottom: 1rem;
}

.user-info-item_label {
	display: block;
	margin-bottom: 0.25rem;
}

.user-info-item_input {
	display: block;
	width: 90%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #e8e8e8;
	background-clip: padding-box;
	border: none;
	outline: none;
	border-top: 1px solid #bdbdbd;
}

/* Success Order */

.success-order-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 60px 20px;
	margin: 0 400px;
	background-color: #fff;
}

.success-img-container {
	width: 10%;
}

.success-img {
	width: 100%;
}

.success-order-title {
	margin-top: 60px;
	font-size: 1.5em;
	font-weight: bold;
}

.order-number-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e8e8e8;
	margin-top: 30px;
	padding: 20px 100px;
}

.order-number-header {
	font-weight: bold;
	font-size: 1em;
	color: #919090;
}

.specific-order-number {
	font-size: 1.5em;
	font-weight: bold;
}

.order-info {
	margin-top: 20px;
}

/*               */

.searchbar {
	display: flex;
	align-items: center;
	position: fixed;
	height: 10%;
	width: 60%;
	gap: 135px;
	z-index: 2;
	background-color: #fff;
}


.details {
	display: flex;
	padding: 40px;
	background-color: #f2f2f2;
}


header {
	grid-column: 3;
	left: 300px;
}


main {
	padding: 0;
	max-height: calc(100vh - 60px - 20px);
	overflow-y: auto;
}

footer {
	height: 25px;
	background-color: #ee753b;
	text-align: center;
}

.pagination {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.pagination a {
	text-decoration: none;
	font-size: 50px;
	color: #383838;
}

.pagination a:hover {
	text-decoration: none;
	font-size: 53px;
	color: #666666;
	transition: .3s;
}